.fp-bg-placeholder{
	height:100%;
	position:static;
	background:#f2f2f2;

}

.border{
	position: absolute;
	top:4%;
	left:2.5%;
	height:92%;
	width:95%;
	border: 1px solid grey;
	z-index:999999;
}

/*@keyframes bot-left-tri-in {
  0%   { transform:translateX(-50px); opacity: 0; }
  100% { transform:translateX(0px); opacity: 1; }
}

@keyframes top-right-tri-in {
  0%   { transform:translateX(50px); opacity: 0; }
  100% { transform:translateX(0px); opacity: 1; }
}*/

.bot-left-tri{
	position:absolute;
	background:$triangle-black;
	height:50%;
	width:150px;
	bottom:0;
	left:0;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
/*	transform:translateX(-150px);
	-webkit-animation:bot-left-tri-in .5s;
	animation-fill-mode:forwards*/
}

.bot-left-mesh{
	position:absolute;
	background:$triangle-black;
	height:60%;
	width:180px;
	bottom:0;
	left:0;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
	background:url(

		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC
		) repeat;
/*	transform:translateX(-180px);
	-webkit-animation:bot-left-tri-in .5s;
	animation-fill-mode:forwards;
	animation-delay:0.13s;*/
}



.top-right-tri{
	position:absolute;
	background:$triangle-black;
	height:50%;
	width:150px;
	top:0;
	right:0;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
/*	transform:translateX(150px);
	-webkit-animation:top-right-tri-in .5s;
	animation-fill-mode:forwards;
	animation-delay:0.2s;*/
}

.top-right-mesh{
	position:absolute;
	background:$triangle-black;
	height:60%;
	width:180px;
	top:0;
	right:0;
/*	transform:translateX(180px);*/
	clip-path: polygon(0 0, 100% 0, 100% 100%);
	background:url(

		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC
		) repeat;
/*	-webkit-animation:top-right-tri-in .5s;
	animation-fill-mode:forwards;
	animation-delay:0.3s;*/
}

.test{
	height:800px;
	width:200px;
}

.scroll-arrow{
	position:absolute;
	bottom:6%;
	left:50%;
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	height:20px;
	width:200px;
	background:$triangle-black;
}