.nav{
	position:absolute;
	transform:rotate(-90deg);
	right:0;
	bottom:0;
	padding:1em;
	border-bottom:1px solid black;


	ul{
			
			border-bottom:1px solid black;
			padding-left:7em;
		li{
			display:inline-block;
			font-family:$my-font;
		}
	}
}