@import "variables.scss";
@import "fp-background.scss";
@import "fp-elements.scss";
@import "fp-main.scss";
@import "scroll-bar.scss";
@import "nav.scss";
@import "pg2-bg.scss";
@import "pg2-items.scss";
@import "contact.scss";

section { margin: 0; padding: 0; }

html, body{
	bottom:0;
	background:#f2f2f2;
	color:$off-black;
	height:100%;
	margin:0;
}

body{
	// opacity:0
}


.stripy{
	background:url(

	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAX/GZH4/4FsRpgAmAOSBBFwDkgAAIKuBATRTAAZAAAAAElFTkSuQmCC
	    ) repeat;
	
}

*, *:before, *:after {
  box-sizing: border-box;
}



